{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<div class="hdr-logo" role="banner">
						<a class="hdr-logo-link" href="{{site.url}}" rel="home">
							{% if function('get_field','site_logo', 'options') %}
								<img src="{{function('get_field','site_logo', 'options')}}" />
							{% else %}
								{{site.name}}
							{% endif %}
						</a>
					</div>
					<div class="burger-icon">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			{% endblock %}
		</header>
		<nav id="nav-main" class="nav-main" role="navigation">
			{% include "menu.twig" with {'menu': menu.get_items} %}
			<div class="nav-bottom-text">
			</div>
		</nav><!-- #nav -->

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
